#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.text {
  font-size: 1.5rem;
}

.temp {
  font-size: 1.5rem;
  margin-top: 1em;
  font-weight: bold;
}

.read-the-docs {
  color: #888;
}
